.hero-button {
  color: rgba(255, 255, 255, 1);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(
      --accent-background-color
    );
  }
}

.btn {
  color: var(--title-text-color);
  background-color: var(
    --section-background-color
  );

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  letter-spacing: 0.03em;

  transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: var(--primary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.footer-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  gap: 10px;
  padding: 10px 28px;
  justify-content: center;
  transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background: var(--accent-text-color);
  color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus {
    background-color: var(
      --accent-background-color
    );
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    margin-top: 20px;
  }
}

.form-button {
  align-items: center;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;

  border: none;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  &:focus,
  &:hover {
    background-color: var(
      --accent-background-color
    );
  }
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(
    --ptimary-backgrond-color
  );
  border-radius: 50%;
  padding: 0;
  transition: fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    background-color: #ffffff;
  }
}
