.customers {
  background-color: var(
    --ptimary-backgrond-color
  );
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
.company {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.company .item {
  @media screen and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 3);
  }
  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
  }
}
.company__link {
  display: flex;
  width: 100%;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: var(
    --ptimary-backgrond-color
  );
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: var(--accent-text-color);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.company__link .company__icon {
  transition: fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.company__icon {
  fill: #afb1b8;

  .company__link:focus &,
  .company__link:hover & {
    fill: var(--accent-text-color);
  }
}
