h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
link {
  text-decoration: none;
}
